.user{
  border:solid 0.3rem;
  border-radius: 1rem;
  padding: 3rem;
  margin: solid 0.5rem;
  background-color: #fff;
  align-content: center;
  justify-content: space-between;
  
  
}
.App{
  justify-content: center;
  padding: 10%;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  display: flex;
  justify-content: space-evenly;
}
.prise{
  margin-bottom: 1rem;
  text-align: center;
}
.plan{
  opacity: 0.5;
  text-align: center;
}
.button{
  border:solid 0.01rem;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 0.1rem;
  transition: all 0.2s;
  text-align: center;
  align-content: center;
  justify-content: center;
  color: #000;
  background-color: rgb(111, 166, 196);
}
@media (min-width: 720px) {
  .App.user:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }}
  
